# Ignore environment variables
.env

# Ignore Python virtual environment
venv/

# Ignore Node.js dependencies
node_modules/

# Ignore macOS specific files
.DS_Store

# Ignore build artifacts for Next.js
.next/

# Ignore PyCharm files
.idea/

# Ignore temporary files
*.tmp
*.temp

# Ignore editor swap files
*~ 