absl-py
anthropic
awscrt
azure-iot-device
branca
chromadb
dataclasses-json
deprecation
emoji
faiss-cpu
fastapi
flatbuffers
folium
gast
grpcio
hmm
jsonpointer
janus
keras
langchain
langchain-community
langchain-core
langchain-text-splitters
marisa-trie
ml-dtypes
murmurhash
numpy<2.0
pip
pip-search
plotly
protobuf
pysocks
regex
rich
semantic-version
setuptools
sentence-transformers
scikit-learn
sniffio
spacy
spacy-legacy
spectral
sympy
tensorflow
termcolor
tokenizers
tokenstream
torch
typing-extensions
urllib3
uvicorn
viz
werkzeug
wheel
